<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.air.mapper.BookingMapper">
    <!--根据某些条件查询机票-->
    <!--public List<AirLine> getAirline(ChooseItem chooseItem);-->
    <select id="getAirline" resultType="airLine">
        select line,date,start_time,end_time,
        model,num_business,num_economy,
        price_business,price_economy,start_place,
        end_place,total_business,total_economy
        from t_view_air_line
        <where>
            <if test=" line != '' and line != null ">
                line = #{line}
            </if>
            <if test=" date != null ">
                and date = #{date}
            </if>
            <if test=" startTime != null ">
                and start_time >= #{startTime}
            </if>
            <if test=" endTime != null ">
                and <![CDATA[ end_Time <= #{endTime} ]]>
            </if>
            <if test=" model != '' and model != null ">
                and model = #{model}
            </if>
            <if test=" minPriceBusiness != '' and minPriceBusiness != null ">
                and price_business >= #{minPriceBusiness}
            </if>
            <if test=" maxPriceBusiness != '' and maxPriceBusiness != null ">
                and <![CDATA[ price_business <= #{maxPriceBusiness} ]]>
            </if>
            <if test=" minPriceEconomy != '' and minPriceEconomy != null ">
                and price_economy >= #{minPriceEconomy}
            </if>
            <if test=" maxPriceEconomy != '' and maxPriceEconomy != null ">
                and <![CDATA[ price_economy <= #{maxPriceEconomy} ]]>
            </if>
            <if test=" startPlace != '' and startPlace != null ">
                and start_place = #{startPlace}
            </if>
            <if test=" endPlace != '' and endPlace != null ">
                and end_place = #{endPlace}
            </if>
        </where>
    </select>

    <!--根据乘客姓名获取该乘客的信息-->
    <!--public Customer queryCustomerByName(@Param("name") String name);-->
    <select id="queryCustomerByName" resultType="customer">
        select name,gender,age,level,job,card from t_customer where name = #{name}
    </select>

    <!--根据Vip等级查询打折优惠折扣-->
    <!--public int queryAccountByCard(@Param("card")String card);-->
    <select id="queryAccountByCard" resultType="int">
        select account from t_vip where card = #{card}
    </select>

    <!--添加买的机票-->
    <!--public void insertOrder(Order order);-->
    <insert id="insertOrder" parameterType="order" statementType="CALLABLE">
        {call addOrder(
            #{orderNum,mode=IN},
            #{username,mode=IN},
            #{totalMoney,mode=IN},
            #{status,mode=IN}
            )}
    </insert>

    <!--添加机票的详细信息-->
    <!--public void insertOrderItem(OrderItem orderItem);-->
    <insert id="insertOrderItem" parameterType="orderItem" statementType="CALLABLE">
        {call addOrderItem(
                #{orderNum,mode=IN},
                #{name,mode=IN},
                #{line,mode=IN},
                #{date,mode=IN},
                #{cabinType,mode=IN},
                #{money,mode=IN}
            )}
    </insert>

    <!--据姓名，航班号，日期查询订单号-->
    <!--public int queryByNameAndLineAndDate(String name, String line, Timestamp date);-->
    <select id="queryByNameAndLineAndDate" resultType="int">
        select count(*) from t_order_item where name = #{name} and line = #{line} and date = #{date}
    </select>

</mapper>