<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.air.mapper.RecommendMapper">
    <!--按照性别查询出最热门航班-->
    <!--public AirLine queryAirlineByGender(String gender);-->
    <select id="queryAirlineByGender" resultType="airline">
        select line, date,count(*) as numBusiness
        from (select t_order_item.line, t_order_item.date, t_customer.gender
            from t_order_item,
            t_customer
            where t_customer.name = t_order_item.name
            and t_customer.gender = #{gender}) t1
        group by t1.line, t1.date
        order by count(*) desc
    </select>

    <!--按照年龄查询出最热门航班-->
    <!--public AirLine queryAirlineByAge(@Param("minAge") int minAge,@Param("maxAge") int maxAge);-->
    <select id="queryAirlineByAge" resultType="airline">
        select line, date,count(*) as numBusiness
        from (select t_order_item.line, t_order_item.date, t_customer.gender
            from t_order_item,
            t_customer
            where t_customer.name = t_order_item.name
                and t_customer.age >= #{minAge}
            <if test=" maxAge != '' and maxAge != null ">
                and <![CDATA[ t_customer.age <= #{maxAge} ]]>
            </if>
            ) t1
        group by t1.line, t1.date
        order by count(*) desc
    </select>

    <!--按照学历查询出最热门航班-->
    <!--public AirLine queryAirlineByLevel(@Param("level") String level);-->
    <select id="queryAirlineByLevel" resultType="airline">
        select line, date,count(*) as numBusiness
        from (select t_order_item.line, t_order_item.date, t_customer.gender
            from t_order_item,
            t_customer
            where t_customer.name = t_order_item.name
            and t_customer.level = #{level}) t1
        group by t1.line, t1.date
        order by count(*) desc
    </select>

    <!--按照职业查询出最热门航班-->
    <!--public AirLine queryAirlineByJob(@Param("job") String job);-->
    <select id="queryAirlineByJob" resultType="airline">
        select line, date,count(*) as numBusiness
        from (select t_order_item.line, t_order_item.date, t_customer.gender
            from t_order_item,
            t_customer
            where t_customer.name = t_order_item.name
            and t_customer.job = #{job}) t1
        group by t1.line, t1.date
        order by count(*) desc
    </select>

    <!--查询所有职业-->
    <!--public List<String> queryAllJobs();-->
    <select id="queryAllJobs" resultType="String">
        select job from t_customer
    </select>


</mapper>